.rowBusiness {
    height: 150px;
    background-color: rgb(24, 69, 192);
    margin: 0;
    padding: 0;
}

.btnRound {
    border-radius: 50px;
}

/* small */
@media(max-width: 649px) {
    .text-white::before {
        content: "Looking for PayPal for Business?"
    }

    .btn-business {
        text-align: center;
    }
}

@media(min-width: 649px) {
    .text-white::before {
        content: "Looking for PayPal for Business? Whether you're local or global, we're here to support you"
    }
}