.video-thumbnail {
    background-color: #f5f7fa;
    padding: 40px 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.video-thumbnail .row-helping {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    padding-top: 40px;
    padding-bottom: 40px;
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
}

.row-helping {
    margin-left: -12px;
    margin-right: -12px;
}

.video-thumbnail__container {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.text-xs-center {
    text-align: center!important;
}

.col-xs-12 {
    width: 100%;
}

div .video-image {
background-image: url('./video_542x308px.jpg');
height: 187px;
}

.video-thumbnail .video-image {
    margin-top: 20px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
    border: 1px solid #cbd2d6;
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
}

.video-image {
    height: 225px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.video-image>div {
    width: 100%;
    height: 100%;
}



.video-thumbnail .row .video-image .pypl-btn {
    top: 0;
}
.video-thumbnail .video-image .pypl-btn {
    top: 40%;
}
.pypl-btn.pypl-btn--outline-white {
    background-color: transparent;
    color: #fff;
    border: 0;
    box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff;
}
.video-image--no-text .video-image__media-btn {
    padding: 0;
    max-width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.pypl-btn.pypl-btn--outline-white {
    background-color: transparent;
    color: #fff;
    border: 0;
    box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff;
}
.pypl-btn {
    display: block;
    position: relative;
    max-width: 320px;
    padding: 13px 24px;
    margin-bottom: 0;
    background: #0070ba;
    font-size: 15px;
    font-size: .9375rem;
    font-family: PayPalSansSmall-Regular,Helvetica Neue,Arial,sans-serif;
    font-weight: 700;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    box-sizing: border-box;
}
.video-image__media-btn {
    margin: auto;
}
.mpp-media-btn {
    width: 100%;
}
.pypl-btn {
    display: block;
    position: relative;
    max-width: 320px;
    padding: 13px 24px;
    margin-bottom: 0;
    background: #0070ba;
    font-size: 15px;
    font-size: .9375rem;
    font-family: PayPalSansSmall-Regular;
    font-weight: 700;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    box-sizing: border-box;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}


.video-image--no-text .video-image__media-btn .mpp-media-btn__icon {
    position: relative;
    left: 0;
    width: 55px;
    height: 55px;
    display: block;
    margin: auto;
}

.mpp-media-btn .mpp-media-btn__icon {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 0;
    height: 0;
}






.video-thumbnail__container {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.text-xs-center {
    text-align: center!important;
}

.col-xs-12 {
    width: 100%;
}




@media only screen and (max-width: 736px) and (min-width: 320px){
.video-thumbnail .pypl-heading {
    padding-top: 10%;
}

.row.showcase__header .pypl-heading.showcase__headline, .editorial .editorial__headline, .video-thumbnail .pypl-heading {
    font-weight: 900;
}
}

@media (max-width: 1024px){
.video-thumbnail h2 {
    font-size: 22px;
    font-size: 1.875rem;
    line-height: 1.2;
}
.h2.pypl-heading, h2, h2.pypl-heading {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-family: PayPalSansSmall-Regular, Helvetica, Arial, sans-serif;
    font-weight: 400;
}
.video-thumbnail__headline {
    padding-bottom: 20px;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.video-thumbnail__paragraph {
    font-family: PayPalSansSmall-Regular, Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 1.09rem;
    line-height: 1.5;
    font-weight: 200;
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

}