#covid-banner {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 211, 188);
}

/* *, ::after, ::before {
    box-sizing: inherit;
} */

.containerCentered {
    padding: 2% 11%;
}