.clock {
    height: 20vh;
    color: black;
    background-color: #00A8EA;
    display: flex;
    padding: 20px 0;
    justify-content: center;
    position: relative;
    overflow: hidden;
    align-items: center;
    margin-top: -35px;
}

.clock > div {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 414px) {
    .number {
        width: 36px;
        height: 52px;
        font-size: 28px;
        font-size: 2rem;
        border-radius: 4px;
        margin-right: 3px;
    }
}

@media screen and (max-width: 767px) {
    .number {
        width: 40px;
        height: 42px;
        font-size: 22px;
        font-size: 1.57142857rem;
        border-radius: 10px;
    }
}

@media screen and (max-width: 956px) {
    .number {
        width: 55px;
        height: 55px;
        font-size: 30px;
        font-size: 2.14285714rem;
        border-radius: 15px;
    }
}

.number {
    background: #ffffff;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 900;
    border-radius: 20px;
    margin-right: 5px;
    width: 62px;
    height: 68px;
    font-size: 36px;
    font-size: 2.57142857rem;
    text-align: center;
    overflow: hidden;
    position: relative;
}