.responding {
    background: #fceed7;
    padding: 40px 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center !important;
}


.h2.responding-head,
h2,
h2.responding-head {
    font-size: 1.6rem;
    line-height: 1.2rem;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    color: #191b1b;

}

.responding-paragraph {
    padding-top: 15px;
    font-size: 1.2rem;
    font-family: "PayPalSansSmall-Light", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}

a.responding-link {
    color: #00a8ea;
    background-color: transparent;
    text-decoration: none;
    font-family: "PayPalSansSmall-Regular", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

a.responding-link:hover {
    text-decoration: underline;
    color: #00a8ea;
    font-family: "PayPalSansSmall-Light", "Helvetica Neue", Arial, sans-serif;
    
}