@media (min-width: 1152px) {
.pp-header {
    overflow: hidden;
    height: 72px;
    transition: height .3s ease-out;
    overflow: visible;
}
}

@media (max-width: 1151px) {
    nav#main-menu {
        display: none;
    }

    a#signup-button {
        display: none;
    }
    .pypl-logo-wrapper {
        width: auto;
        display: inline-block;
        /* display: none; */
        position: relative;
        top: 3px;
    }
    .header {
        border-bottom: none;
    }

    }

    

    @media (max-width: 1151px) {
    .pypl-logo {
        width: 26px;
        height: 30px;
        background-size: cover;
        background-position: left;
        background-clip: content-box;
        background-origin: content-box;
    }

    .pypl-logo--white {
        background-image: url(https://www.paypalobjects.com/webstatic/i/logo/rebrand/ppcom-white.svg);
    }

    .pypl-logo {
        width: 136px;
        height: 43px;
        display: inline-block;
        padding: 0;
        background: transparent url(https://www.paypalobjects.com/digitalassets/c/website/logo/full-text/pp_fc_hl.svg) center center no-repeat;
        background-clip: border-box;
        background-origin: padding-box;
        background-position: 0 50%;
        background-size: contain;
        overflow: hidden;
        text-indent: -999em;
    }

    
}

    
header {
    font-size: 14px;
    font-size: .875rem;
    text-align: center;
    position: absolute;
    width: 100%;
    padding-top: 0px;
    z-index: 2;
    box-sizing: border-box;
    border-bottom: .1px solid rgb(205, 208, 219);
}

.pp-header {
    font-size: 14px;
    font-size: .875rem;
    text-align: center;
    position: absolute;
    width: 100%;
    padding-top: 18px;
    z-index: 2;
    box-sizing: border-box;
}

header .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}


.menu-button-wrapper {
    width: 0;
    float: left;
}


.pypl-logo-wrapper {
    width: auto;
    /* display: inline-block; */
    display: none;
    position: relative;
    top: 3px;
}


.main-menu {
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
    display: inline-block;
}

.header-buttons {
    width: 0;
    float: right;
    position: relative;
    text-align: right;
}

.menu-button-wrapper button.menu-button {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    padding-left: 37px;
}

.pypl-btn {
    display: block;
    position: relative;
    max-width: 320px;
    padding: 13px 24px;
    margin-bottom: 0;
    background: #0070ba;
    font-size: 15px;
    font-size: .9375rem;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    box-sizing: border-box;
}

.pypl-logo--white {
    background-image: url(https://www.paypalobjects.com/webstatic/i/logo/rebrand/ppcom-white.svg);
}

.pypl-logo {
    width: 136px;
    height: 43px;
    display: inline-block;
    padding: 0;
    background: transparent url(https://www.paypalobjects.com/digitalassets/c/website/logo/full-text/pp_fc_hl.svg) center center no-repeat;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: 0 50%;
    background-size: contain;
    overflow: hidden;
    text-indent: -999em;
}

header ol,
header ul {
    list-style-type: none;
    padding-left: 0;
}

ol,
ul {
    padding-left: 20px;
}

ol,
ul {
    padding-left: 0;
    margin: 0 0 1rem;
}

.main-menu__sublist {
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding-top: 30px;
    width: 86%;
}

header a.closer-mobile button,
header a.main-link,
header a.main-link:focus,
header a.main-link:hover {
    background-color: transparent;
    text-decoration: none;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

.main-menu a,
.main-menu a:active,
.main-menu a:focus,
.main-menu a:hover,
.main-menu a:visited {
    color: #fff;
}

header .closer-mobile button,
header .main-link,
header .main-link:focus,
header .main-link:hover {
    color: #fff;
    text-transform: uppercase;
    line-height: 2.7;
    letter-spacing: 1px;
    position: relative;
}

a {
    color: #0070ba;
}

a {
    background-color: transparent;
    text-decoration: none;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

a {
    color: #0070ba;
}

a {
    background-color: transparent;
    text-decoration: none;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

a {
    background-color: transparent;
}


header a.closer-mobile button,
header a.main-link,
header a.main-link:focus,
header a.main-link:hover {
    background-color: transparent;
    text-decoration: none;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}



header .closer-mobile button,
header .main-link,
header .main-link:focus,
header .main-link:hover {
    color: #fff;
    text-transform: uppercase;
    line-height: 2.7;
    letter-spacing: 1px;
    position: relative;
}



header a.closer-mobile button,
header a.main-link,
header a.main-link:focus,
header a.main-link:hover {
    background-color: transparent;
    text-decoration: none;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}



header .closer-mobile button,
header .main-link,
header .main-link:focus,
header .main-link:hover {
    color: #fff;
    text-transform: uppercase;
    line-height: 2.7;
    letter-spacing: 1px;
    position: relative;
}

header a.closer-mobile button,
header a.main-link,
header a.main-link:focus,
header a.main-link:hover {
    background-color: transparent;
    text-decoration: none;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}



header .closer-mobile button,
header .main-link,
header .main-link:focus,
header .main-link:hover {
    color: #fff;
    text-transform: uppercase;
    line-height: 2.7;
    letter-spacing: 1px;
    position: relative;
}
















.header-buttons .pypl-btn.pypl-btn--small:last-of-type {
    display: inline-block;
}







@media (min-width: 1152px) {
.main-menu {
    position: static;
    display: inline-block;
}
}

.main-menu {
    /* position: absolute; */
    left: 0;
    top: 0;
    text-align: left;
    /* display: none; */
}



ol, ul {
    /* padding-left: 0; */
    margin: 0 0 1rem;
}

.pp-header a.closer-mobile button, .pp-header a.main-link, .pp-header a.main-link:focus, .pp-header a.main-link:hover {
    background-color: transparent;
    text-decoration: none;
    font-family: PayPalSansSmall-Regular,Helvetica Neue,Arial,sans-serif;
    font-weight: 700;
}
/*  */
.pp-header .closer-mobile button, .pp-header .main-link, .pp-header .main-link:focus, .pp-header .main-link:hover {
    color: #fff;
    text-transform: uppercase;
    line-height: 2.7;
    letter-spacing: 1px;
    position: relative;
}

@media (min-width: 1152px) {
.closer-mobile button, .main-link, .main-link:focus, .main-link:hover {
    padding: 25px;
    margin: 0 1px;
    /* letter-spacing: 1px; */
}
}



@media (min-width: 1152px) {
.submenu-wrapper {
    position: absolute;
    left: 0;
    top: 72px;
}
.submenu-wrapper {
    display: none;
    width: 100%;
}
}


@media (min-width: 1152px) {
.pp-header__subnav {
    position: relative;
    padding-left: 0;
    padding-right: 0;
}
}

.pp-header__subnav {
    /* position: absolute; */
    top: 0;
    left: 0;
}

@media (min-width: 1152px) {
    .pp-header__subnav .submenu-cols {
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    align-content: stretch;
}
}


@media (min-width: 1152px) {
.pp-header__subnav .submenu-col {
    /* -ms-flex-positive: 1; */
    flex-grow: 1;
    width: 25%;
    max-width: 25%;
    margin: 0 0 1rem;
}
}

.pp-header__subnav .submenu-col {
    margin: 0;
}


@media (min-width: 1152px) {
.pp-header__subnav li {
    height: 72px;
}
}

.pp-header__subnav li {
    display: list-item;
    width: 100%;
}
/* @media (min-width: 1152px)
.main-menu li {
    display: inline-block;
} */


@media (min-width: 1152px) {
.pp-header__subnav a {
    padding: 5% 1em 0 0;
    font-family: PayPalSansSmall-Regular,Helvetica Neue,Arial,sans-serif;
    font-weight: 400;
    font-weight: 300;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}
}

.pp-header__subnav a {
    color: #fff;
    display: block;
    font-size: 15px;
    font-family: PayPalSansSmall-Regular,Helvetica Neue,Arial,sans-serif;
    font-weight: 400;
    padding: 10px 0 10px 10px;
}

.pp-header ol, .pp-header ul {
    list-style-type: none;
    padding-left: 0;
}



@media (min-width: 1152px) {
.main-menu__sublist {
    display: none;
}
}

.main-menu__sublist {
    margin-top: 20px;
    border-top: 1px solid rgba(255,255,255,.3);
    padding-top: 30px;
    width: 86%;
}

.main-menu__sublist li {
    min-height: 42px;
}

@media (min-width: 1152px) {
    .main-menu li {
        display: inline-block;
    }
    }

@media screen and (orientation: landscape) {
.sublist-cta-wrapper {
    position: relative;
    top: 3em;
}
}

.sublist-cta-wrapper {
    position: absolute;
    min-width: 80%;
    top: 25em;
    top: 80vh;
    z-index: -1;
}

.main-menu a, .main-menu a:active, .main-menu a:focus, .main-menu a:hover, .main-menu a:visited {
    color: #fff;
}

.header-buttons>div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    position: absolute;
    top: 0;
    right: 0;
    width: -webkit-max-content;
    width: max-content;
}

.pypl-btn.pypl-btn--outline-white {
    background-color: transparent;
    color: #fff;
    border: 0;
    box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff;
}

@media (min-width: 1152px) {

    .header-buttons .pypl-btn.pypl-btn--small:last-of-type {
    display: inline-block;
}
}

.header-buttons .pypl-btn.pypl-btn--small {
    min-width: 84px;
    display: inline-block;
    margin-left: 9px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.pypl-btn.pypl-btn--small {
    padding: 12px 18px;
    font-size: 12px;
    font-size: .75rem;
    line-height: 12px;
}

.pypl-btn.pypl-btn--white {
    background-color: #fff;
    color: #2c2e2f;
}

.pp-header *, .pp-header ::after, .pp-header ::before {
    box-sizing: inherit;
}

.pypl-btn {
    display: block;
    position: relative;
    max-width: 320px;
    padding: 13px 24px;
    margin-bottom: 0;
    background: #0070ba;
    font-size: 15px;
    font-size: .9375rem;
    font-family: PayPalSansSmall-Regular,Helvetica Neue,Arial,sans-serif;
    font-weight: 700;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    box-sizing: border-box;
}