<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <title>Paypal Mimic</title>
</head>

<body>
    <div class="navbar">
        <div class="dropdown">

            <button onclick="myFunction()" class="dropbtn">BUSINESS
                <i class="fa fa-caret-down"></i>
            </button>

            <div id="myDropdown" class="dropdown-content">

                <div class="header">
                    <h2>Mega Menu</h2>
                </div>

                <div class="row">

                    <div class="column">
                        <h3>Category 1</h3>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>

                    <div class="column">
                        <h3>Category 2</h3>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>

                    <div class="column">
                        <h3>Category 3</h3>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>

                </div>

            </div>

        </div>

        <div class="dropdown">

            <button class="dropbtn">PERSONAL
                <i class="fa fa-caret-down"></i>
            </button>

            <div class="dropdown-content">

                <div class="header">
                    <h2>Mega Menu 2</h2>
                </div>

                <div class="row">

                    <div class="column">
                        <h3>Category 1</h3>
                        <a href="#">Link 11</a>
                        <a href="#">Link 22</a>
                        <a href="#">Link 33</a>
                    </div>

                    <div class="column">
                        <h3>Category 2</h3>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>

                    <div class="column">
                        <h3>Category 3</h3>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>

</html>