@media (max-width: 1151px) {
    .global-footer {
        text-align: center;
    }
}

@media (max-width: 1151px) {
    .global-footer ul li {
        display: inline-block;
    }
}

@media (max-width: 1151px) {
    .hidden-lg-down {
        display: none !important;
    }
}


@media (max-width: 1151px) {
    .global-footer .hidden-lg-down {
        display: none !important;
    }
}


.global-footer {
    padding: 40px 0;
    box-sizing: border-box;
}

.global-footer .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.global-footer *,
.global-footer ::after,
.global-footer ::before {
    box-sizing: inherit;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.global-footer .row {
    margin-left: -12px;
    margin-right: -12px;
}

.row {
    margin-left: -12px;
    margin-right: -12px;
}

.global-footer .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
}

.global-footer .footer-main {
    font-size: 15px;
    font-size: .9375rem;
}

.global-footer .footer-main,
.global-footer .footer-secondary,
.global-footer .footer-tertiary {
    line-height: 1.6;
    margin-bottom: 0;
    padding: 0;
}

ol,
ul {
    padding-left: 20px;
}

ol,
ul {
    padding-left: 0;
    margin: 0 0 1rem;
}

.global-footer .footer-main li:last-child,
.global-footer .footer-secondary li:last-child,
.global-footer .footer-tertiary li:last-child {
    margin-right: 0;
}

.global-footer .footer-main .country-selector {
    margin: 5px 18px 5px 0;
}

.global-footer .footer-main li,
.global-footer .footer-secondary li,
.global-footer .footer-tertiary li {
    margin: 6px 18px 2px 0;
}

a .lazy-load-flag {
    background-image: url(https://www.paypalobjects.com/webstatic/mktg/icons/sprite_countries_flag4.png);
}

.global-footer .footer-main a {
    color: #2c2e2f;
}

.country-selector .US,
.country-selector .unitedstates {
    background-position: 5px -383px;
}

.country-selector .country {
    display: inline-block;
    overflow: hidden;
    width: 32px;
    height: 26px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-indent: 999em;
    text-align: left;
    background-color: transparent;
    background-repeat: no-repeat;
}


a {
    color: #0070ba;
}

a {
    background-color: transparent;
    text-decoration: none;
    font-family: PayPalSansSmall-Regular, Helvetica Neue, Arial, sans-serif;
    font-weight: 700;
}

a {
    background-color: transparent;
    text-decoration: none;
    font-family: PayPalSansSmall-Regular;
    font-weight: 700;
}


a {
    background-color: transparent;
}

.global-footer hr {
    background-image: linear-gradient(to right, #cbd2d6 50%, rgba(255, 255, 255, 0) 40%);
    background-position: top;
    background-size: 3px 1px;
    background-repeat: repeat-x;
    height: 1px;
    border-top: 0;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    background-image: linear-gradient(to right, #b7bcbf 50%, rgba(255, 255, 255, 0) 40%);
    background-position: top;
    background-size: 3px 1px;
    background-repeat: repeat-x;
    height: 1px;
    margin: 0;
    padding: 0;
    border-top: 0;
    border-bottom: 0;
    box-sizing: content-box;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

hr {
    background-image: linear-gradient(to right, #b7bcbf 50%, rgba(255, 255, 255, 0) 40%);
    background-position: top;
    background-size: 3px 1px;
    background-repeat: repeat-x;
    height: 1px;
    margin: 0;
    padding: 0;
    border-top: 0;
    border-bottom: 0;
    box-sizing: content-box;
}

.global-footer .footer-secondary,
.global-footer .footer-secondary a,
.global-footer .footer-tertiary,
.global-footer .footer-tertiary a {
    font-size: 13px;
    font-size: .8125rem;
    color: #6c7378;
    padding-top: 10px;
}

.global-footer .footer-secondary,
.global-footer .footer-secondary a,
.global-footer .footer-tertiary,
.global-footer .footer-tertiary a {
    font-size: 13px;
    font-size: .8125rem;
    color: #6c7378;
    padding-top: 10px;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.global-footer .footer-secondary a,
.global-footer .footer-secondary a a,
.global-footer .footer-tertiary a,
.global-footer .footer-tertiary a a {
    color: #6c7378;
}

.global-footer .footer-secondary,
.global-footer .footer-secondary a,
.global-footer .footer-tertiary,
.global-footer .footer-tertiary a {
    font-size: 13px;
    font-size: .8125rem;
    color: #6c7378;
    padding-top: 10px;
}




a {
    background-color: transparent;
    text-decoration: none;
    font-family: PayPalSansSmall-Regular, Helvetica Neue, Arial, sans-serif;
    font-weight: 700;
}






.global-footer .footer-secondary a,
.global-footer .footer-secondary a a,
.global-footer .footer-tertiary a,
.global-footer .footer-tertiary a a {
    color: #6c7378;
}

.global-footer .footer-secondary,
.global-footer .footer-secondary a,
.global-footer .footer-tertiary,
.global-footer .footer-tertiary a {
    font-size: 13px;
    font-size: .8125rem;
    color: #6c7378;
    padding-top: 10px;
}




a {
    background-color: transparent;
    text-decoration: none;
    font-family: PayPalSansSmall-Regular, Helvetica Neue, Arial, sans-serif;
    font-weight: 700;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
    display: inline;
}