@media (max-width: 1151px) {
    .footer {
        text-align: center;
    }

    .footer ul li {
        display: inline-block;
    }

    .hidden-lg-down {
        display: none !important;
    }

    .footer .hidden-lg-down {
        display: none !important;
    }
}

.footer {
    padding: 60px 0;
    box-sizing: border-box;
    text-align: center;
}

.footer .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.footer .row {
    margin-left: -12px;
    margin-right: -12px;
}

.footer .col-md-12 {
    position: relative;
    min-height: 5px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}

.footer .footer-main {
    font-size: 16px;
    font-size: .9375rem;
}

.footer .footer-main,
.footer .footer-secondary,
.footer .footer-tertiary {
    line-height: 1.6;
    margin-bottom: 0;
    padding: 0;
}

ol,
ul {
    padding-left: 0;
    margin: 0 0;
}

.footer .footer-main li:last-child,
.footer .footer-secondary li:last-child,
.footer .footer-tertiary li:last-child {
    margin-right: 0;
}

.footer .footer-main .country-selector {
    margin: 0px 0px 7px auto;
    float: right;
}

/* .footer .footer-main li {
    float: left;
} */

.footer .footer-main li,
.footer .footer-secondary li,
.footer .footer-tertiary li {
    margin: 0px 18px 0px 0px;
}

.footer .row-flag {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

a.lazy-load-flag {
    background-image: url('./us-flag.png');
}

.footer .footer-main a {
    color: #2c2e2f;
}

.country-selector .country {
    display: inline-block;
    overflow: hidden;
    width: 36px;
    height: 28px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-indent: 999em;
    text-align: left;
    background-color: transparent;
    background-repeat: no-repeat;
}

a {
    color: #0070ba;
    background-color: transparent;
    text-decoration: none;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

.footer hr {
    background-image: linear-gradient(to right, #cbd2d6 50%, rgba(255, 255, 255, 0) 40%);
    background-position: top;
    background-size: 3px 2px;
    background-repeat: repeat-x;
    height: 1.5px;
    border-top: 0;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: content-box;
    overflow: visible;
}

.footer .footer-secondary,
.footer .footer-secondary a,
.footer .footer-tertiary,
.footer .footer-tertiary a {
    font-size: 13px;
    font-size: .72rem;
    color: #6c7378;
    padding-top: 10px;
}

.footer-tertiary {
    text-align: right;
}

li {
    display: list-item;
    list-style: none;
    display: inline;
}