.join.custom-join {
    background-color: #00a8ea;
    padding: 40px 0;
}

.join {
    padding: 40px 0;
    background-color: #fff;
}

.row {
    margin-left: -12px;
    margin-right: -12px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.text-xs-center {
    text-align: center !important;
}

.join.custom-join .join-head {
    font-size: 30px;
    font-size: 2.14285714rem;
    color: #fff;
    font-family: "PayPalSansSmall-Light", "Helvetica Neue", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}

.join-btn {
    display: block;
    position: relative;
    max-width: 300px;
    padding: 12px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-size: .9375rem;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    box-sizing: border-box;
    color: #0d3685;
    background: #fff;
}

.join-btn:hover,
.join-btn:link,
.join-btn:active,
.join-btn:visited {
    background: #fcbb32;
    color: #0d3685;
}

.join-btn--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.join-btn:hover {
    text-decoration: none;
}

.join-head {
    padding-bottom: 18px;
}

.join-head b {
    font-weight: bold;
    font-size: 32px;
    font-size: 1.8rem;
    font-family: "PayPalSansBig-Light", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
}