body {
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}

/* ------ */
/* MIX */
/* ------ */

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-left: -12px;
    margin-right: -12px;
}

.text-xs-center {
    text-align: center !important;
}

.col,
[class*="col-"],
[class*="col-*-"] {
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
}

.new-badge {
    background-color: #fbb333;
    color: #fff;
    font-size: 15px;
    font-size: 1.07142857rem;
    padding: 0 8px 0 8px;
    border-radius: 50%;
    top: 0;
    left: -15%;
    position: absolute;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

a {
    color: #0070ba;
    background-color: transparent;
    text-decoration: none;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", sans-serif, Arial, sans-serif;
    font-size: 15.25px;
    font-weight: 700;
}

li {
    display: list-item;
    list-style: none;
    display: inline;
}

/* NAV IS DOWN AT THE END */

/* ----------- */
/* VIDEOABOVE */

.header-section+div>section.info-hero {
    padding-top: 72px;
}

.info-hero {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
    background-color: #6c7378;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.custom-infohero .info-hero-container {
    /* putting the button $ h1 in front */
    z-index: 1;
}

h1.info-hero-head {
    font-size: 1.76rem;
    line-height: 2.25rem;
    font-family: "PayPalSansBig-Light", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
}

.btn-hero:hover,
.btn-hero:link,
.btn-hero:active,
.btn-hero:visited {
    background: #fcbb32;
    color: #0d3685;
    text-decoration: none;
}

.btn-hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    float: none;
    position: relative;
    max-width: 320px;
    padding: 13px 24px;
    background: #0070ba;
    font-size: 15px;
    font-size: .9375rem;
    font-family: "PayPalSansSmall-Light", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    box-sizing: border-box;
}

.info-hero-container .info-hero-container h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin: .67em 0;
    font-family: "PayPalSansSmall-Light", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}


/* ---------- */
/* VIDEO */
.bg-video-container {
    background-color: #0097e0;
    margin-bottom: -7px;
    position: relative;
    height: 300px;
}

.bg-video-container .bg-video {
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

video {
    width: 100%;
}


/* --------- */
/* BUSINESS */
.notification-ribbon {
    background-color: #0d3685;
    padding: 30px 0;
    text-align: center;
}

.notification-ribbon h4 {
    font-size: 1.57142857rem;
    line-height: 1.875rem;
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
}

.btn-round {
    margin: 18px 0;
    position: relative;
    display: flex;
    background: #0070ba;
    background-color: transparent;
    color: #0070ba;
    border: .5px solid #0070ba;

}

.btn.text-center.btn-round {
    margin: 20px;
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 11px;
}

.notification-ribbon .btn-round {
    display: inline-block;
    background-color: #fff;
    border-color: #fff;
    color: #0d3685;
    border-radius: 25px;
    font-weight: 700;
    vertical-align: middle;
    padding: 12px 18px;
    font-size: 12px;
    font-size: .75rem;
    line-height: 12px;
}

.notification-ribbon a:hover.btn-round {
    text-decoration: none;
}


/* --------- */
/* CORONA */
#covid-banner {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fceed7;
}

.containerCentered {
    padding: 2% 9%;
}

.containerCentered h4 {
    font-size: 1.6rem;
    line-height: 1.2rem;
    font-weight: 700;
    color: #434647;
    padding-bottom: 15px;
}

.containerCentered p {
    font-size: 1.3rem;
    line-height: 1.2rem;
    color: #434647;
    padding-bottom: 20px;
}

.links .link a {
    text-decoration: none;
    font-size: 16px;
    color: #434647;
    font-weight: 600;
    vertical-align: middle;
}

.links .link a:hover {
    text-decoration: none;
}

.link a button {
    font-size: 30px;
    vertical-align: middle;
    background-color: #0d3685;
    color: whitesmoke;
    border-radius: 6px;
    border: 1px solid #0d3685;

}

/* 
.link {
    padding: 10px 5px;
} */

/* ------------- */
/* ROW HELP */

.video-thumbnail {
    background-color: #f5f7fa;
    padding: 40px 0;
}

.video-thumbnail .row {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    padding-top: 40px;
    padding-bottom: 40px;
}

.thumbnail-container {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

h2.spend-head,
h2.yoga-section-head,
h2.honey-head,
h2.pay-head,
h2.brand-head {
    position: relative;
}

.thumbnail-paragraph,
.yoga-section-paragraph,
.spend-paragraph,
.pay-paragraph,
.honey-paragraph {
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", sans-serif, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 600;
    /* padding-bottom: 20px; */
    padding-top: 20px;
}

div .video-image {
    background-image: url('/assets/images/video_542x308px.jpg');
    height: 204px;
}

.video-thumbnail .video-image {
    margin-top: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
    border: 1px solid #cbd2d6;
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
}

.video-image {
    height: 225px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.video-image>div {
    width: 100%;
    height: 100%;
}

.video-image .play-button {
    padding: 0;
    max-width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.play-btn {
    display: block;
    position: relative;
    max-width: 320px;
    margin-bottom: 0;
    background: #0070ba;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    box-sizing: border-box;
    width: 100%;
}

button.play-button {
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: 0;
    box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff;
}

.fa-play-circle-o {
    font-size: 70px;
    font-weight: 100;
    color: whitesmoke;
}

.yoga-section,
.spend-section,
.pay-section,
.honey {
    background-repeat: no-repeat;
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
    color: #4a4a4a;
}

.spend-section,
.honey {
    background-color: #f5f7fa;
}

.yoga-section .container .row {
    padding-left: 7px;
}

.yoga-section-paragraph .yoga-section-link {
    font-size: 16px;
    color: #00a8ea;
}

a:hover.yoga-section-link {
    color: #00a8ea;
}

.yoga-section-image {
    max-width: 90%;
    max-height: 350px;
}

img {
    border-style: none;
    max-width: 100%;
}

.spend-image {
    max-width: 90%;
    max-height: 350px;
}

sup {
    top: -.5em;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.spend-link {
    color: #00a8ea;
    text-decoration: none;
}

a:hover.spend-link {
    color: #00a8ea;
}

a {
    background-color: transparent;
    color: #0070ba;
    text-decoration: none;
    font-family: "PayPalSansBig-Light", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

.pay-link {
    color: #00a8ea;
}

a {
    color: #0070ba;
    background-color: transparent;
    text-decoration: none;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

a.pay-link:hover {
    text-decoration: underline;
    color: #0070ba;
    background-color: transparent;
}

.pay-image {
    max-width: 90%;
    max-height: 350px;
}


/* ---------- */
/* BRANDS */

.brand-section.logo-section {
    padding: 60px 0;
    background-color: #fff;
    color: #4a4a4a;
}

.brand-section hr {
    display: none;
}

.brand-section {
    padding: 40px 0;
}

.brand-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.brand-header {
    padding-bottom: 30px;
}

.brand-image {
    max-width: 100%;
}

.brand-logo:nth-child(2)~.brand-logo {
    padding-top: 5px;
}

div.col-xs-6 {
    width: 50%;
    /* padding: 30px; */
}

.honey .container,
.yoga-section .container,
.spend-section .container,
.pay-section .container {
    text-align: center;
    width: 100%;
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.honey-image {
    max-width: 90%;
    max-height: 350px;
}

.honey-paragraph {
    padding-top: 20px;
}

.honey-link {
    color: #00a8ea;
}

a.honey-link:hover {
    text-decoration: underline;
    color: #0070ba;
    background-color: transparent;
}

/* ----------- */
/* RESPONDING */
.responding {
    background: #fceed7;
    padding: 40px 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center !important;
}

.responding .responding-paragraph {
    padding-top: 20px;
    font-size: 1.25rem;
    font-family: "PayPalSansSmall-Light", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    font-weight: 300;
}

a.responding-link {
    color: #00a8ea;
    background-color: transparent;
    text-decoration: none;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

a.responding-link:hover {
    text-decoration: underline;
    color: #00a8ea;
    font-family: "PayPalSansSmall-Light", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;

}

/* ----- */
/* JOIN */
.join.custom-join {
    background-color: #00a8ea;
    padding: 40px 0;
}

.join.custom-join .join-head {
    font-size: 2rem;
    line-height: 3rem;
    color: #fff;
    font-family: "PayPalSansSmall-Light", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
}

.join {
    padding: 40px 0;
    background-color: #fff;
}

.join-btn {
    display: block;
    position: relative;
    max-width: 320px;
    padding: 13px 24px;
    margin-bottom: 0;
    font-size: 14px;
    font-size: .9375rem;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    box-sizing: border-box;
    color: #0d3685;
    background: #fff;
}

.join-btn:hover,
.join-btn:link,
.join-btn:active,
.join-btn:visited {
    background: #fcbb32;
    color: #0d3685;
}

.join-btn--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.join-btn:hover {
    text-decoration: none;
}

.join-head {
    padding-bottom: 1.5rem;
    line-height: 25px;
}




/* ----------- */
/* CLOCK */

.clock {
    height: 19.5vh;
    color: black;
    background-color: #00A8EA;
    display: flex;
    padding: 20px 0;
    justify-content: center;
    position: relative;
    overflow: hidden;
    align-items: center;
    margin-top: -35px;
}

.clock>div {
    display: flex;
    justify-content: center;
}


.number {
    background: #ffffff;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 900;
    border-radius: 20px;
    margin-right: 5px;
    width: 62px;
    height: 68px;
    font-size: 36px;
    font-size: 2.57142857rem;
    text-align: center;
    overflow: hidden;
    position: relative;
}

/* ----------- */
/* DISCLOSURE */
.disclosure {
    padding: 40px 0;
    background-color: #fff;
}

.disclosure .container {
    text-align: left;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

/* --------------------- */
/* FOOTER */
.footer {
    padding: 40px 0;
    box-sizing: border-box;
    text-align: center;
}

.footer .col-md-12 {
    position: relative;
    min-height: 5px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}

.footer .footer-main {
    font-size: 16px;
    font-size: .937rem;
}

.footer .footer-main,
.footer .footer-secondary,
.footer .footer-tertiary {
    line-height: 1.5;
    margin-bottom: 0;
    padding: 0;
}

.footer .footer-main li:last-child,
.footer .footer-secondary li:last-child,
.footer .footer-tertiary li:last-child {
    margin-right: 0;
}

.footer .footer-main .country-selector {
    margin: 0px 0px 7px auto;
}

.footer .footer-main li,
.footer .footer-secondary li,
.footer .footer-tertiary li {
    margin: 6px 18px 2px 0;
}


.footer .country-selector {
    background-image: url("/assets/images/sprite_countries_flag4.png");
}

.footer .footer-main a {
    color: #2c2e2f;
}

.country-selector .country {
    display: flex;
    overflow: hidden;
    /* width: 60px;
    height: 28px; */
    float: right;
    vertical-align: middle;
    /* text-indent: 999em;
    text-align: right; */
    background-color: transparent;
    background-repeat: no-repeat;
}

.footer hr {
    background-image: linear-gradient(to right, #cbd2d6 50%, rgba(255, 255, 255, 0) 40%);
    background-position: top;
    background-size: 3px 2px;
    background-repeat: repeat-x;
    height: 1.5px;
    border-top: 0;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: content-box;
    overflow: visible;
}

.footer .footer-secondary,
.footer .footer-secondary a,
.footer .footer-tertiary,
.footer .footer-tertiary a {
    font-size: 13px;
    font-size: .7rem;
    color: #6c7378;
    padding-top: 10px;
    line-height: 1.6;
    margin-bottom: 0;
    font-weight: 900;
    /* text-align: right; */
}

footer .footer-tertiary .footer-copyright {
    font-weight: 400;
}

/* ************** */
/* HEADER */
.header-section {
    font-size: .875rem;
    text-align: center;
    position: absolute;
    width: 100%;
    padding-top: 18px;
    z-index: 2;
    box-sizing: border-box;
}



/* ************** */
/* HEADER CONTAINER */
.contain-btn {
    width: 0;
    float: left;
    /* padding-right: 20px; */
}

.header-section .header-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.header-section::before {
    height: 84px;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0) 100%);
    top: 0;
    z-index: -1;
}

.header-section::after,
.header-section::before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
}

/* *, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
} */
.header-section::after {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    top: 72px;
    content: initial;
    display: none;
}

.header-section::after,
.header-section::before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
}

/* *, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
} */

/* ************** */
/* BUTTON ITSELF */
.contain-btn button.btn-menu {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    touch-action: none;
    padding-left: 35px;
    background-color: transparent;
    color: #eaeced;
    border: 0;
    box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff;
    font-size: .75rem;
    line-height: 12px;
}

.btn-menu {
    display: block;
    position: relative;
    max-width: 320px;
    padding: 12px 18px;
    margin-bottom: 0;
    background: #0070ba;
    font-size: .9375rem;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    box-sizing: border-box;
}

/* ************** */
/* LOGO */

.logo-container {
    width: auto;
    display: inline-block;
    position: relative;
    top: 3px;
    /* vertical-align: middle;
    padding: 0 9px; */
}

.logo-text {
    width: 136px;
    height: 43px;
    display: inline-block;
    padding: 0;
    background: transparent url(https://www.paypalobjects.com/webstatic/i/logo/rebrand/ppcom-white.svg) center center no-repeat;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: 0 50%;
    background-size: contain;
    overflow: hidden;
    text-indent: -999em;
}


.logo-url {
    background-image: url(https://www.paypalobjects.com/webstatic/i/logo/rebrand/ppcom-white.svg);
}

/* LIST 1 */
.header-section>ul {
    list-style-type: none;
    padding-left: 0;
}

.main-menu li a {
    color: #fff;
    margin: 0 20px;
}

.header-section a.main-link,
.header-section a.main-link:focus,
.header-section a.main-link:hover {
    background-color: transparent;
    text-decoration: none;
    font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
}

.main-menu a,
.main-menu a:active,
.main-menu a:focus,
.main-menu a:hover,
.main-menu a:visited {
    color: #fff;
}

.header-section .main-link,
.header-section .main-link:focus,
.header-section .main-link:hover {
    color: #fff;
    text-transform: uppercase;
    line-height: 2.7;
    letter-spacing: 1px;
    position: relative;
}

.list-2 {
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding-top: 30px;
    width: 86%;
}

/* ************** */
/* SIGN UP LOGIN */

.signup-login {
    width: 0;
    float: right;
    position: static;
    text-align: right;
}

.signup-login>div {
    display: flex;
    flex: 0 1 auto;
    position: absolute;
    top: 18px;
    right: 5%;
    width: max-content;
}

/* ************** */
/* LOGIN */
/* button-login */
.signup-login .signlogbtns {
    display: inline-block;
    flex: 0 0 auto;
    padding: 12px 18px;
    font-size: .75rem;
    line-height: 12px;
    position: relative;
    max-width: 320px;
    background: #0070ba;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff;
    display: block;
    margin-bottom: 0;
}

.signup-login .signlogbtns:last-of-type {
    display: none;
}

.signup-login .signlogbtns {
    min-width: 84px;
    display: inline-block;
    margin-left: 9px;
    flex: 0 0 auto;
}

.signlogbtns.signup-btn {
    background-color: #fff;
    color: #2c2e2f;
}

.header-section ol,
.header-section ul {
    list-style-type: none;
    padding-left: 0;
}

.responding .responding-head {
    font-size: 1.41rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: #2c2e2f;
}

.notification-ribbon {
    background-color: #0d3685;
    padding: 30px 0;
    text-align: center;
}

.brand-logo:nth-child(2)~.brand-logo {
    padding-top: 30px;
}

/* RESPONSIVENESS */
/* 576 or larger */
@media (min-width: 576px) {

    .header-section .header-container {
        max-width: 753px;
        padding-left: 36px;
        padding-right: 36px;
    }

}

@media (min-width: 751px) {

    .pay-head br,
    .honey-head br {
        display: none;
    }
}

/* 752 or larger */
@media (min-width: 752px) {

    .container,
    .header-section .header-container {
        max-width: 1023px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }

    h2 {
        font-size: 2.35rem;
        line-height: 3rem;
        font-family: "PayPalSansBig-Light", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
        font-weight: 400;

    }

    .info-hero {
        min-height: 480px;
    }

    .custom-infohero {
        min-height: 400px;
        background-repeat: repeat;
    }

    .info-hero-container h2 {
        font-size: 2.5rem;
        line-height: 3rem;
        font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
        font-weight: 400;
    }

    .info-hero h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
        font-weight: 300;
    }

    .info-hero h2 {
        font-size: 2.5rem;
        line-height: 3rem;
        font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
        font-weight: 400;
    }

    /* 
    .info-hero-container {
        font-size: 3.75rem;
        line-height: 4.5rem;
        font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
        font-weight: 400;
    } */

    .responding .responding-link br {
        display: none;
    }

    .thumbnail-head {
        text-align: left;
    }

    .thumbnail-paragraph,
    .yoga-section-paragraph,
    .spend-paragraph,
    .pay-paragraph,
    .honey-paragraph {
        text-align: left;
        /* font-size: .86rem; */
        font-size: .9rem;
    }

    .yoga-section,
    .spend-section,
    .pay-section,
    .honey {
        /* padding: 60px 0;
         */
        padding: 40px 60px;
        min-height: 480px;
        display: flex;
        align-items: center;
    }

    .responding {
        padding: 40px 0;
        background: #fff2dc;
    }

    .col-md-10 {
        width: 83.33333%;
        margin-bottom: 0;
    }

    .col-md-offset-1 {
        margin-left: 8.33333%;

    }

    .brand-logo:nth-child(3)~.brand-logo.col-md-4 {
        padding-top: 0;
    }
}

/* 768 or larger */
@media(min-width: 768px) {
    .notification-ribbon .container {
        max-width: 100%;
    }

    /* .container {
        max-width: 1023px;
    } */

    .text-white::before {
        content: "Looking for PayPal for Business? Whether you're local or global, we're here to support you"
    }

    .join-paragragraph::before {
        content: "Join the global community of PayPal users who are sending, spending and receiving money securely every day"
    }

    .btn-round {
        padding: 0;
    }

}

/* 1024 or larger */
@media (min-width: 1024px) {

    .yoga-section,
    .spend-section,
    .pay-section,
    .honey {
        min-height: 350px;
    }

    .container,
    .header-section .header-container {
        max-width: 1151px;
        padding-left: 48px;
        padding-right: 48px;
    }

    .info-hero {
        padding-top: 112px;
        padding-bottom: 60px;
    }

    .header-section+div>section.info-hero {
        padding-top: 112px;
    }
}

/* 1152 or larger */
@media (min-width: 1152px) {

    .container,
    .header-section .header-container {
        max-width: 1192px;
    }

    .footer .footer-tertiary,
    .footer .footer-tertiary a,
    .footer .footer-main,
    .footer .footer-main a {
        text-align: right;
    }

    .header~* {
        position: relative;
        top: 0;
        transition: all .3s ease-out;
    }

    .main-menu {
        position: static;
        display: inline-block;
    }

    .contain-btn {
        display: none;
    }

    .header-section {
        overflow: hidden;
        height: 72px;
        overflow: visible;
        /* border-bottom: .3px ridge #88b5f8; */
    }

    .list-2 {
        display: none;
    }

    .logo-container {
        float: left;
    }

    .signup-login .signlogbtns:last-of-type {
        display: inline-block;
    }

    @media only screen and (min-width: 1152px) {
        .row.brand-container {
            height: 150px;
            margin-top: -50px;
            margin-bottom: -50px;
        }
    }

    .footer .row.row-flag {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }
}

/* ---------------------------------------------------------- */
/* between 1366 and 769 */
@media screen and (max-width: 1366px) and (min-width: 769px) {
    .bg-video-container {
        height: 150px;
        margin-top: -25px;
    }

    .bg-video-container {
        background-color: #0097e0;
        margin-bottom: -7px;
        position: relative;
        height: 300px;
    }
}

/* between 1119 and 768 */
@media screen and (max-width: 1119px) and (min-width: 768px) {
    .notification-ribbon a {
        float: none;
    }

    .notification-ribbon {
        padding-top: 30px;
        padding-bottom: 5px;
    }
}


/* 1151 or less */
@media (max-width: 1151px) {
    body {
        max-width: 100%;
        overflow-x: hidden;
        transition: all .3s ease-in;
    }

    .footer {
        text-align: center;
    }

    .footer ul li {
        display: inline-block;
    }

    .hidden-lg-down {
        display: none !important;
    }

    .footer .hidden-lg-down {
        display: none !important;
    }

    .main-menu .list-1 a {
        display: none;
    }

    .logo-text {
        width: 26px;
        height: 30px;
        background-size: cover;
        background-position: left;
        background-clip: content-box;
        background-origin: content-box;
    }
}

/* 1024 or less */
@media (max-width: 1024px) {
    .video-thumbnail h2 {
        font-size: 22px;
        line-height: 1.6;
        font-size: 1.77rem;
        font-family: "PayPalSansSmall-Light", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
        font-weight: 400;
        padding-top: 10%;
        padding-bottom: 20px;
    }

    /* .logo-container {
        width: auto;
        display: inline-block;
        position: relative;
        top: 3px;
        vertical-align: middle;
        padding: 0 9px;
    } */

    .main-menu>ul {
        text-align: center;
    }

    .main-menu ul {
        padding-right: 0;
    }

    .footer .country img {
        width: fit-content;
        height: fit-content;
    }
}

/* 956 or less */
@media screen and (max-width: 956px) {
    .number {
        width: 55px;
        height: 55px;
        font-size: 30px;
        font-size: 2.14285714rem;
        border-radius: 15px;
    }

    .join.custom-join .join-head {
        font-size: 1.89rem;
        line-height: 3rem;
        color: #fff;
        font-family: "PayPalSansSmall-Light", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
        font-weight: 300;
    }

}

@media only screen and (max-width: 940px) and (min-width: 752px) {

    .pay-head .new-badge,
    .honey-head .new-badge {
        left: -20%;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    .bg-video-container {
        height: 80px;
    }
}

/* 767 or less */
@media screen and (max-width: 767px) {
    .number {
        width: 40px;
        height: 42px;
        font-size: 22px;
        font-size: 1.57142857rem;
        border-radius: 10px;
    }

    .containerCentered p,
    .pay-paragraph,
    .spend-section .spend-paragraph,
    p.honey-paragraph,
    p.yoga-section-paragraph {
        font-family: "PayPalSansSmall-Regular", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
        font-size: 0.909rem;
        font-weight: 900;
        line-height: 1.6;
        color: #434647;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .thumbnail-paragraph {
        font-size: 0.865rem;
        font-weight: 900;
        line-height: 1.6;
        color: #434647;
        padding-bottom: 10px;
    }

    .disclosure .container {
        text-align: left;
        font-weight: 600;
        line-height: 1.6;
        color: #2c2e2f;
        font-size: .85rem;
    }

    h2.spend-head,
    h2.yoga-section-head,
    h2.honey-head,
    h2.pay-head,
    h2.brand-head {
        padding-top: 10%;
        position: relative;
        font-size: 1.874rem;
        line-height: 2.25rem;
        font-family: "PayPalSansBig-Light", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
        font-weight: 500;
        color: #4a4a4a;
    }

    h2.responding-head {
        font-size: 1.5rem;
        line-height: 28px;
        font-weight: 500;
        color: #2c2e2f;
    }

    .containerCentered h4 {
        font-size: 1.35rem;
        line-height: 1.8rem;
        font-weight: 900;
        color: #434647;
        padding-bottom: 15px;
    }

    .notification-ribbon h4 {
        color: #fff;
        font-size: 20px;
        line-height: 1.875rem;
        vertical-align: middle;
    }

    .join.custom-join .join-head {
        font-size: 2.14285714rem;
        line-height: 2.25rem;
        color: #fff;
        font-family: "PayPalSansSmall-Light", "Open Sans", sans-serif, "Helvetica Neue", Arial, sans-serif;
        font-weight: 300;
    }

    .text-white::before {
        content: "Looking for PayPal for Business?"
    }

    .join-paragragraph::before {
        content: "Join the global community of 325 million PayPal users"
    }

    .links .link a {
        font-size: .9rem;
        font-weight: 900;
    }

    .pay-section.reverse-render .row {
        display: flex;
        box-orient: vertical;
        box-direction: reverse;
        flex-direction: column-reverse;
    }

    .pay-section .container .row,
    .pay-section .container .row,
    .honey .container .row,
    .spend-section .container .row {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 7px;
    }

    .yoga-section,
    .pay-section .spend-section,
    .pay-section {
        padding: 40px 13px;
    }

    .pay-image,
    .spend-image {
        margin-bottom: 30px;
    }

    .yoga-section.reverse-render .row {
        display: flex;
        box-orient: vertical;
        box-direction: reverse;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 812px) and (min-width: 320px) {
    .notification-ribbon h4 {
        font-size: 1.19rem;
    }
}

/* between 751 and 320 */
@media screen and (max-width: 751px) and (min-width: 320px) {
    .pay-head .new-badge {
        font-size: 17px;
        font-size: 1.21428571rem;
        position: initial;
        padding: 18px 13px 18px 13px;
    }

    .honey {
        padding: 40px 13px;
    }

    .honey-image {
        margin-bottom: 30px;
    }

    .honey .new-badge {
        font-size: 17px;
        font-size: 1.21428571rem;
        position: initial;
        padding: 18px 13px 18px 13px;
    }

    .footer ul {
        text-align: center;
    }
}

/* small: 414 OR LESS */
@media screen and (max-width: 414px) {
    .number {
        width: 36px;
        height: 52px;
        font-size: 2rem;
        border-radius: 4px;
        margin-right: 3px;
    }

    .responding .responding-paragraph {
        font-size: 1.2rem;
        padding-top: 20px;
        line-height: 1.6rem;
        font-weight: 400;
    }

    .responding .responding-link {
        font-size: 1.24rem;
        line-height: 1.6;
    }

    .footer .footer-main {
        font-size: 5px;
    }
}

@media screen and (max-width: 350px) {
    .number {
        width: 25px;
        height: 28px;
        font-size: 15px;
        font-size: 1.07142857rem;
        border-radius: 4px;
        margin-right: 2px;
    }
}